html, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
	color: rgb(140, 21, 21, 1.0);
	font-size: 1.5em;
}

nav {
	background: rgb(255, 255, 255, 1.0)
}

a {
	color: rgb(140, 21, 21, 0.6);
}

a:hover {
	color: rgb(140, 21, 21, 0.8);
	text-decoration: none;
}

.container {
	height: 100%;
  	height: 90vh;
  	margin-left: 10%;
  	margin-right: 10%;
  	padding-top: 10vh;
}

.title {
	font-size: 250%;
}

small {
	color: rgb(0, 0, 0, 0.5);
	font-size: 70%;
}

.text-box {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: large;
	padding: 20px;
}

#cover h1 {
	font-size: 2em;
}

#cover h2 {
	font-size: 1.5em;
}

#cover h3 {
	font-size: 1em;
}

#instructors {
	height: 100vh;
}

