html, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
	color: rgba(140, 21, 21, 1.0);
	font-size: 1.25em;
	padding-bottom: 2vh;
}

nav {
	background: rgba(255, 255, 255, 1.0);
}

a {
	color: rgba(140, 21, 21, 0.6);
}

a:hover {
	color: rgba(140, 21, 21, 0.8);
	text-decoration: none;
}

.navbar-nav .open .dropdown-menu {
	background-colo: rgba(255, 255, 255, 1.0);
}

.site-section {
  	padding-top: 5vh;
}

.title {
	font-size: 250%;
}

small {
	color: rgba(0, 0, 0, 0.5);
	font-size: 70%;
}

#cover {
	/* Causes issues with divs overlapping during resize */
 	/*height: 90vh;*/ 
}

#cover h1 {
	font-size: 2em;
}

#cover h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1em;
}

.text-box {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: large;
}

#instructors {
	height: 95vh;
}


